# Package manager folders
/ServerPackages/
/DevPackages/
/Packages/

# Package files


# Build assets, lock files
/assets
sourcemap.json
*.rbxl.lock
wally.lock

# Temp/backup files
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*~

# System files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# OS-specific
.AppleDouble
.LSOverride
ehthumbs.db


