# Package manager folders
/ServerPackages/
/DevPackages/
/Packages/

# Build assets, lock files
/assets
sourcemap.json
*.rbxl.lock
wally.lock

# Shell scripts
reapr
uppr
preppr

# Temp/backup files
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*~

# System files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/




